QuoteApp/QuoteApp/bin/
QuoteApp/QuoteApp/obj/
QuoteApp/QuoteApp.Android/bin/
QuoteApp/QuoteApp.Android/obj/
QuoteApp/QuoteApp.iOS/obj/
QuoteApp/QuoteApp.UWP/obj/
.vs/
/packages
/QuoteApp.ExportImageGenerator/bin/Debug/System.Numerics.Vectors.xml
